<nav class="categories-nav">
  <div class="container-fluid">
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#new-arrivals" class="nav-link">Drones</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#new-arrivals" class="nav-link">Frames</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#new-arrivals" class="nav-link">VTXs & Goggles</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#new-arrivals" class="nav-link">Electronics</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#new-arrivals" class="nav-link">Motors & Propellers</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#new-arrivals" class="nav-link">Batteries</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#new-arrivals" class="nav-link">Radios & Receivers</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#new-arrivals" class="nav-link">More</a>
      </li>
    </ul>
  </div>
</nav>
